.logo {
    height: 22px;
}
.img-thumbnail {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    background-position: center;
}
#cat-grid {
    margin-top: 80px;
}
